<a href="https://colab.research.google.com/github/tapader13/python-practice-for-academy/blob/main/basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("minhaj")

minhaj

In [ ]:
print(1);
print(2);

2

In [ ]:
name="minhaj"
print(name)


#comment

#single line comment

# hjhlkg
# fkjgfdjkg

minhaj

In [21]:
#function
def name():
  print("minhaj")
name()

def squre(i): #parameter
  return i*i
result=squre(5) #argumant
print(result)

#positional
name1="minhaj"
def add(a,name1):
  return str(a)+name1
result=add(1,name1)
print(result)

#keyword
def add1(a,name1):
  return str(a)+name1
result=add1(a=1,name1="minhaj")
print(result)

#default
def add2(a=0,name1=""):
  return str(a)+name1
result=add2()
print(result)

#scope
def scopePractice():
  name="tapader"
  print(name)
scopePractice()
# print(name)

#decoration
def my_decorator(func):
    def wrapper(i):
        print("Something is happening before the function is called.")
        func(i)
        print("Something is happening after the function is called.")
    return wrapper

@my_decorator
def dec_func(i):
  print(i)

dec_func(10)

#lamda
ans= lambda x:x+1
print(ans(10))

#map
numbers=[1,2,3,4]
ans_map=map(lambda x:x*2,numbers)
print(list(ans_map))

#filter
ans_filter=filter(lambda x:x%2==0,numbers)
print(list(ans_filter))

#sort
names=["minhaj","mif","tapader"]
# names.sort(key=lambda x:len(x))
names.sort(key=lambda x:x[0])
print(names)

#reduce
from functools import reduce
ans_reduce=reduce(lambda x,y:x+y,numbers,5)
print(ans_reduce)

minhaj
25
1minhaj
1minhaj
0
tapader
Something is happening before the function is called.
10
Something is happening after the function is called.
11
[2, 4, 6, 8]
[2, 4]
['minhaj', 'mif', 'tapader']
15

In [ ]:
#dictionary
info={
    "name":"minhaj",
    "roll":13,
    "university":"netrokona university"
}
print(info)
print(info.keys())
print(info.values())
print(list(info.items()))
print(info['name'])
info["semester"]=7
print(info.get("name1","not found data"))
del info["semester"]
print(info)
info.pop("roll","not poped")
print(info)
info.popitem()
print(info)
info.clear()
print(info)

#comprehensive dictionary
res1={i:i*i for i in range(1,10)}
print(res1)
res2={i:i*i for i in range(1,10) if i%2==0}
print(res2)

#for loop dictionary
for i in res1:
    print(res1[i])
    print(i)

{'name': 'minhaj', 'roll': 13, 'university': 'netrokona university'}
dict_keys(['name', 'roll', 'university'])
dict_values(['minhaj', 13, 'netrokona university'])
[('name', 'minhaj'), ('roll', 13), ('university', 'netrokona university')]
minhaj
not found data
{'name': 'minhaj', 'roll': 13, 'university': 'netrokona university'}
{'name': 'minhaj', 'university': 'netrokona university'}
{'name': 'minhaj'}
{}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{2: 4, 4: 16, 6: 36, 8: 64}
1
1
4
2
9
3
16
4
25
5
36
6
49
7
64
8
81
9

In [ ]:
#string method
name="minhaj uddin tapader"
print(name.lower())
print(name.upper())
print(name.capitalize())
print(name.swapcase())
print(name.title())
print(name.find("u"))
# inp=input().lower()
# print(inp)
print(name.split(" "))
print(",".join(name.split(" ")))
print(name.replace("minhaj","minhaj tapader"))
print(name.startswith("m"))
print(name.isalpha())
print(name.isdigit())
print(name.isalnum())

minhaj uddin tapader
MINHAJ UDDIN TAPADER
Minhaj uddin tapader
MINHAJ UDDIN TAPADER
Minhaj Uddin Tapader
7
['minhaj', 'uddin', 'tapader']
minhaj,uddin,tapader
minhaj tapader uddin tapader
True
False
False
False

In [ ]:
from ast import comprehension
#list
list1=[1,2]
list2=list((1,2))
list3=range(1,10)
list4=list(list3)
print(list1,list2,list3,list4)

comprehension_list=[i for i in range(1,10) if i%2==0]
print(comprehension_list)

i=10
ternary_op= "even" if i%2==0 else "odd"
print(ternary_op)

nested_ternary_op="eligible" if i>=18 else "not possible" if i<=0 else "not eligible"
print(nested_ternary_op)

list5=list(range(1,10))
list5[0:2]=4,5,6
print(list5)
print(list4+list5)
list5.append(67)
print(list5)
list5.insert(0,56)
print(list5)
list5.extend([4,5,6])
print(list5)
list5.remove(56)
print(list5)
list5.pop(4)
print(list5)
# list5.clear()
# print(list5)
print(4 in list5)
list6=list5
list6[0]=9
print(list6,list5)
list6=list5.copy()
list6[0]=10
print(list6,list5)
list6.sort(reverse=True)
print(list6)
print(list6.index(5))
print(list6.count(5))
print(list6.reverse())
print(list6)
print(min(list6),max(list6),sum(list6))
set1=set(list5)
print(set1)
set2=set(list6)
print(set2)
print(set1.union(set2))
print(list(set1.intersection(set2)))
print(set1.difference(set2))

[1, 2] [1, 2] range(1, 10) [1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
even
not eligible
[4, 5, 6, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 4, 5, 6, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 3, 4, 5, 6, 7, 8, 9, 67]
[56, 4, 5, 6, 3, 4, 5, 6, 7, 8, 9, 67]
[56, 4, 5, 6, 3, 4, 5, 6, 7, 8, 9, 67, 4, 5, 6]
[4, 5, 6, 3, 4, 5, 6, 7, 8, 9, 67, 4, 5, 6]
[4, 5, 6, 3, 5, 6, 7, 8, 9, 67, 4, 5, 6]
True
[9, 5, 6, 3, 5, 6, 7, 8, 9, 67, 4, 5, 6] [9, 5, 6, 3, 5, 6, 7, 8, 9, 67, 4, 5, 6]
[10, 5, 6, 3, 5, 6, 7, 8, 9, 67, 4, 5, 6] [9, 5, 6, 3, 5, 6, 7, 8, 9, 67, 4, 5, 6]
[67, 10, 9, 8, 7, 6, 6, 6, 5, 5, 5, 4, 3]
8
3
None
[3, 4, 5, 5, 5, 6, 6, 6, 7, 8, 9, 10, 67]
3 67 141
{3, 67, 5, 6, 7, 8, 9, 4}
{3, 4, 5, 6, 7, 8, 9, 10, 67}
{3, 67, 5, 6, 7, 8, 9, 4, 10}
[67, 3, 5, 6, 7, 8, 9, 4]
set()

In [ ]:
#condition
number=int(input())
check=int(input())
if number==0:
    print("minhaj")
    if check==0:
        print("check")
    else:
       print("not check")
elif number==1:
   print("elif block")
else:
  print("not")


#formate output

name=input("Enter your name:")
print("your name is {}".format(name))
print(f"your name is {name}")
print(f"sum is {number+check}")

6
7
not
Enter your name:minu
your name is minu
your name is minu
sum is 13

In [ ]:
#loop
while 0:
    print("minhaj")

In [ ]:
# variable
roll=13
weight=60.7
comlex_var=1+3j
_is_rainning=True
check_type=type(comlex_var)
married=None
name="minhaj"
property=["laptop","mobile","headphone"] #list
tuple_list=(1,2,3)
set_val={1,2,1,3} # for finding uniqe value
frozenset_val=frozenset([1,2,3,3,4,5])
map_val={
    'name':'minhaj',
    13:"roll"
} #its called dictionary

print(roll, weight, comlex_var, _is_rainning, check_type, married, name, property, tuple_list, set_val, frozenset_val, map_val)

13 60.7 (1+3j) True <class 'complex'> None minhaj ['laptop', 'mobile', 'headphone'] (1, 2, 3) {1, 2, 3} frozenset({1, 2, 3, 4, 5}) {'name': 'minhaj', 13: 'roll'}

In [ ]:
# operators

#arithmetic
result= 1+3*3
print(result)
x=0
y=2
print(x/y)
print(x//y) #floor division

#compare
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

#logical
# and check first falsy value if found then return that value else return last value
# or check first truthy value if found then return that value else return last value
# not return opposite value
print(x and y)
print(x or y)
print(not y)

#assign
x+=y
print(x)
x-=y
print(x)
x*=y
print(x)
x/=y
print(x)
x//=y
print(x)

#identity
# it check both are point same obj or not
a=[1,2,3]
b=[1,2,3]
print(a==b)
print(a is b)
print(a is not b)

#membership
print(2 in a)
print(3 not in b)

True
False
True
True
False