<a href="https://colab.research.google.com/github/tapader13/python-practice-for-academy/blob/main/basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("minhaj")

minhaj

In [ ]:
print(1);
print(2);

2

In [ ]:
name="minhaj"
print(name)


#comment

#single line comment

# hjhlkg
# fkjgfdjkg

minhaj

'\ndouble line comment\n'

In [ ]:
#condition
number=int(input())
check=int(input())
if number==0:
    print("minhaj")
    if check==0:
        print("check")
    else:
       print("not check")
elif number==1:
   print("elif block")
else:
  print("not")


#formate output

name=input("Enter your name:")
print("your name is {}".format(name))
print(f"your name is {name}")
print(f"sum is {number+check}")

6
7
not
Enter your name:minu
your name is minu
your name is minu
sum is 13

In [46]:
#loop
i=0
while i<len(list(range(5))):
    print("minhaj")
    i+=1

num=[1,2,3,4,5]
for i in reversed(num):
  print("range {}".format(i))
print(num)
for i in num[::-1]:
  print("range {}".format(i))
print(num)


for i in range(1,10,1):
  for j in range(1,i+1):
    print("i={},j={}".format(i,j))

minhaj
minhaj
minhaj
minhaj
minhaj
range 5
range 4
range 3
range 2
range 1
[1, 2, 3, 4, 5]
range 5
range 4
range 3
range 2
range 1
[1, 2, 3, 4, 5]
i=1,j=1
i=2,j=1
i=2,j=2
i=3,j=1
i=3,j=2
i=3,j=3
i=4,j=1
i=4,j=2
i=4,j=3
i=4,j=4
i=5,j=1
i=5,j=2
i=5,j=3
i=5,j=4
i=5,j=5
i=6,j=1
i=6,j=2
i=6,j=3
i=6,j=4
i=6,j=5
i=6,j=6
i=7,j=1
i=7,j=2
i=7,j=3
i=7,j=4
i=7,j=5
i=7,j=6
i=7,j=7
i=8,j=1
i=8,j=2
i=8,j=3
i=8,j=4
i=8,j=5
i=8,j=6
i=8,j=7
i=8,j=8
i=9,j=1
i=9,j=2
i=9,j=3
i=9,j=4
i=9,j=5
i=9,j=6
i=9,j=7
i=9,j=8
i=9,j=9

In [37]:
 #break
 uni=0
 while uni<5:
    if uni==3:
        # break
        # uni+=1
        # continue
        pass
    print(uni)
    uni+=1

0
1
2
3
4

In [58]:
#string
for i in "minhaj":
  print(i)
print(list("min"))
print(len("min"))
name="minhaj"
print(name[-1])

#slicing
print(name[1:5:2])
print(name[::-1])

#dictionary
result={
    'name':'minhaj',
    'roll':13,
    12:14
}
print(result['name'])
print(result.get('name'))
print(result[12])
print(result.keys())
print(result.values())
print(result.items())
print(list(result.items())[::-1])

#repeat
name="minhaj"
print(name*3)

#concatination
print(name+name)

#membership
nam="minhaj"
print("min" in nam)
print("min" not in nam)

True
False

In [ ]:
# variable
roll=13
weight=60.7
comlex_var=1+3j
_is_rainning=True
check_type=type(comlex_var)
married=None
name="minhaj"
property=["laptop","mobile","headphone"] #list
tuple_list=(1,2,3)
set_val={1,2,1,3} # for finding uniqe value
frozenset_val=frozenset([1,2,3,3,4,5])
map_val={
    'name':'minhaj',
    13:"roll"
} #its called dictionary

print(roll, weight, comlex_var, _is_rainning, check_type, married, name, property, tuple_list, set_val, frozenset_val, map_val)

13 60.7 (1+3j) True <class 'complex'> None minhaj ['laptop', 'mobile', 'headphone'] (1, 2, 3) {1, 2, 3} frozenset({1, 2, 3, 4, 5}) {'name': 'minhaj', 13: 'roll'}

In [ ]:
# operators

#arithmetic
result= 1+3*3
print(result)
x=0
y=2
print(x/y)
print(x//y) #floor division

#compare
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

#logical
# and check first falsy value if found then return that value else return last value
# or check first truthy value if found then return that value else return last value
# not return opposite value
print(x and y)
print(x or y)
print(not y)

#assign
x+=y
print(x)
x-=y
print(x)
x*=y
print(x)
x/=y
print(x)
x//=y
print(x)

#identity
# it check both are point same obj or not
a=[1,2,3]
b=[1,2,3]
print(a==b)
print(a is b)
print(a is not b)

#membership
print(2 in a)
print(3 not in b)

True
False
True
True
False